<!DOCTYPE html>
<html lang="en" dir=""ltr>
    <head>
        <meta charset="utf-8">
         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

         <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>


        <title>Covid-19 movement Visulization</title>

    </head>
    <body>
    <h1> Test Frontend with flask</h1>
     <div id="mapid" style="width:900px; height:580px"></div>

    <script>
        var mymap = L.map('mapid').setView([51.505, -0.09], 13);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiYXJhbGRoYWZlZXJpIiwiYSI6ImNrOWc5Z2N3ZzAxM24zZmwzdnE4OGk0Z2QifQ.gYgQtEjXEjwejcS_2EeKfg'
        }).addTo(mymap);

        mapMarkers 1 = [];
        mapMarkers 2 = [];
        mapMarkers 3 = [];

        var source = newEventSource('/topic/geodata_final');
        source.addEventListener('message', function(e) {
        console.log('Message);
        obj = JSON.parse(e.data);
        console.log(obj);
        if(obj.busline
        }
    </script>
    </body>

</html>